---
import Logout from "@/components/svgs/mono/Logout.astro";
import Login from "@/components/svgs/mono/Login.astro";
import LogoutScript from "@comps/LogoutScript.astro";
import Layout from "@layouts/Layout.astro";
import Home from "@/components/svgs/mono/Home.astro";

// Check if user is authenticated via the new middleware system
const user = Astro.locals.user;
---

<Layout title="Welcome" description="Your personal finance management tool">
	<div class="min-h-screen bg-gray-900 p-8 mx-auto">
		<h1 class="text-3xl text-gray-100 font-bold text-center mb-6">
			Welcome to Monerpy
		</h1>
		<p class="text-center text-gray-400 mb-4">
			Your personal finance management tool.
		</p>
		<div class="flex justify-center gap-6">
			<a
				href="/dashboard"
				class="bg-purple-600 text-white px-6 py-3 rounded hover:bg-purple-700 transition duration-200 font-bold flex items-center gap-2"
			>
				<Home /> Dashboard
			</a>
			{
				!user ? (
					<a
						href="/login"
						class="bg-purple-600 text-white px-6 py-3 rounded hover:bg-purple-700 transition duration-200 font-bold flex items-center gap-2"
					>
						Login <Login />
					</a>
				) : (
					<form id="logoutForm" class="inline">
						<button
							type="submit"
							class="bg-red-600 text-white px-6 py-3 rounded hover:bg-red-700 transition duration-200 font-bold flex items-center gap-2 "
						>
							Logout <Logout />
						</button>
					</form>
				)
			}
		</div>
	</div>
</Layout>

<LogoutScript />
