---
import Plus from "@comps/svgs/mono/Plus.astro";

interface Props {
	id: string;
	title?: string;
	class?: string;
	type?: "button" | "submit" | "reset";
}

const { id, title, class: extraClass, type = "button" } = Astro.props as Props;
---

<button
	id={id}
	title={title}
	type={type}
	class={`bg-purple-600 hover:bg-purple-700 text-white font-semibold py-[5px] px-2 rounded transition-colors ${extraClass}`}
>
	<Plus />
</button>
