---
import { transactionTypes } from "@arrays.d.ts";
import Asterisk from "@comps/Asterisk.astro";

interface Props {
    classes?: string;
}

const { classes }: Props = Astro.props;
---

<div class={classes}>
    <span class="block text-sm font-medium text-gray-200 mb-2 cursor-default">
        Type <Asterisk id="type" /></span
    >
    <div class="w-full h-[42px] flex items-center justify-center gap-x-4">
        {
            transactionTypes.map((type) => (
                <label for={`${type}Type`} class="inline-flex items-center">
                    <input
                        id={`${type}Type`}
                        type="radio"
                        name="type"
                        value={type}
                        class={
                            `form-radio peer ` +
                            (type === "income"
                                ? "accent-green-500"
                                : "accent-red-500")
                        }
                        required
                    />
                    <span
                        class={
                            `ml-2 ` +
                            (type === "income"
                                ? "peer-checked:text-green-500"
                                : "peer-checked:text-red-500")
                        }
                    >
                        {type.charAt(0).toUpperCase() + type.slice(1)}
                    </span>
                </label>
            ))
        }
    </div>
</div>
