---
import "../styles/global.css";
import Toast from "@comps/toast/Toast.astro";
import Footer from "@comps/layout/Footer.astro";
import LogoutScript from "@comps/layout/LogoutScript.astro";

interface Props {
	title?: string;
	description?: string;
	classes?: string;
	showFooter?: boolean;
	includeLogout?: boolean;
}

const {
	title,
	description,
	classes = "bg-gray-900",
	showFooter = true,
	includeLogout = true,
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#4F46E5" />
		<title>{title} - Monerpy</title>
	</head>
	<body class={`flex flex-col min-h-screen ${classes || ""}`}>
		<slot />
		{showFooter && <Footer />}
		{includeLogout && <LogoutScript />}
		<Toast />
		<script is:inline>
			document.addEventListener("DOMContentLoaded", function () {
				if (window.history.replaceState) {
					window.history.replaceState(
						null,
						null,
						window.location.href,
					);
				}
			});
		</script>
	</body>
</html>
